
  <div class="row" style="margin-top:10cm;margin-right:cm;">
  <div><h2 style="color: white; margin-right: 8cm;margin-bottom: 2cm;">CERTIFICATES </h2></div>
  <div class="container text-center" style="margin-right: 2cm;">
  <div class="row align-items-start">
    <div class="col-3">
      <div class="card" style="width: 300px;height: 300px;">
  <div class="top-section" style="height: 160px;"></div>

  <div class="bottom-section">
    <span class="title">HARWARD CS50</span>
  </div>
</div>

    </div>
    <div class="col-3">
      <div class="card" style="width: 300px;height: 300px;">
  <div class="top-section" style="height: 160px;"></div>

  <div class="bottom-section">
    <span class="title">WEB DEVELOPMENT</span>
  </div>
</div>

    </div>
    <div class="col-3">
      <div class="card" style="width: 300px;height: 300px;">
  <div class="top-section" style="height: 160px;"></div>

  <div class="bottom-section">
    <span class="title">PYTHON</span>
  </div>
</div>

    </div>
  </div>
</div>
