<header class="text-white py-4"style="background-color:black; position: fixed; top:0; left:0; width:100%; z-index:999;">
    <div>
        <h3 style="padding-left: 60px;">MOHAMMAD AMINI</h3>
    </div>

    <div style="text-align: center;">
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-light">Light</button>
    </div>
    <div>
<style>
.uiverse-btn {
  padding: 1em 2em;
  font-size: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #141313;
  color: #f87800;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 0 15px #444 inset, 0 0 15px #f87800;
}

.uiverse-btn:hover {
  background: #111;
  box-shadow: 0 0 25px #f87800, 0 0 50px #f87800;
  cursor: pointer;
}

</style>
    </div>

<button class="uiverse-btn" style="float: right;margin-right: 20px;padding-bottom: 30px;">Button</button>

</header>
