<div class="container text-center" style="margin-top: 600px;margin-left: 140px;">
  <div style="margin-right: 290px;margin-bottom: 60px;color: white;"><h2>SERVICES</h2></div>
  <div class="row">
    <div class="col-3">
      <!-- From Uiverse.io by alexruix --> 
<div class="card" style="width: 320px;height: 500px;">
  <div class="card-info">
    <p class="title">Magic Card</p>
  </div>
</div>
    </div>
    <div class="col-3">
      <!-- From Uiverse.io by alexruix --> 
<div class="card" style="width: 320px;height: 500px;">
  <div class="card-info">
    <h1></h1>
    <p class="title">Magic Card</p>
  </div>
</div>
    </div>
    <div class="col-3">
      <!-- From Uiverse.io by alexruix --> 
<div class="card" style="width: 320px;height: 500px">
  <div class="card-info">
    <p class="title">Magic Card</p>
  </div>
</div>
  </div>
</div>