{% extends "base.html" %}
{%load static%}

{% block title %}Home | My Site{% endblock %}

{% block content %}
 
<div class="container text-center" style="padding-top: 140px;">
  <div class="row">
    <div class="col">
        <h1 style="color:white;font-size: 500%;">Hi, it's <span style="background: linear-gradient(90deg, #ff8a00, #ff4d4d);-webkit-background-clip:text;-webkit-text-fill-color: transparent;">Mohamad</span></h1>
        <p><h2 style="color: white; font-size: 300%;">i'm a<span style="background: linear-gradient(90deg, #ff8a00, #ff4d4d);-webkit-background-clip:text;-webkit-text-fill-color: transparent;"> backend developer</span></h2></p>
        <p style="text-align:right;"><h5 style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus suscipit eius aspernatur omnis aliquam soluta, culpa odit nemo laudantium veritatis voluptas corrupti eaque ullam dolor quibusdam sunt iure repudiandae explicabo?</h5></p>  
    </div>
    <div class="col">
      <img src="{% static 'core/images/profile.png' %}" alt="Profile Image" style="width: 500px;height: 550px;">

    </div>
  </div>


  <!-- From Uiverse.io by vamsidevendrakumar --> 
<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <p>Front Side</p>
    </div>
    <div class="card-back">
      <p>Back Side</p>
    </div>
  </div>
</div>

{% endblock %}
